/* 전체적인 부분 css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.inner {
    width: 1000px;
    margin: 0 auto;
}

.icon-btn {
    border: none;
    background: none;
    font-size: 1.4rem;
    cursor: pointer;
}

a {
    all: unset;
    cursor: pointer;
}

a:visited {
    all: unset;
}

/* header css */
.header-container {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.header-inner {
    height: 80px;
    background-image: url(/re_blog_template/image/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}

.header-title {
    font-weight: 600;
    font-size: 2.4rem;
}

.header-left {
    display: flex;
    gap: 10px;
}

.header-gear {
    font-size: 1.2rem;

}

.new-notice {
    background-color: #ff6b24;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 0 3px;
    font-size: 0.7rem;
}

.header-right {
    padding-right: 30px;
    font-size: 1.6rem;
}

/* side bar AND main 에 공통 css */
.content-contanier {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 30px;
}

/* side bar css */
.side-continer-cover {
    width: 170px;
}

.side-container {
    width: 170px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    flex-basis: auto;
    height: 230px;
    position: fixed;
}

.side-inner {
    display: flex;
    flex-direction: column;
}

.side-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 0.9rem;
}

.side-h4 {
    color: #a6a6a6;
    font-weight: 500;
}

.side-gear {
    border: none;
    background: none;
    font-size: 1.4rem;
}

.side-content {
    color: #a6a6a6;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* main css */
.main-container {
    width: 730px;
}

.main-inner {
    display: flex;
    flex-direction: column;
}

.main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.left-title {
    font-weight: 600;
}

.left-number {
    color: #07beb8;
    font-weight: 600;
}

.main-list {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.main-list-inner {
    width: calc((100% - 30px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-info-inner {
    padding: 10px;
}

.list-date {
    color: #a6a6a6;
    padding: 30px 0;
    font-size: 0.8rem;
}

/* page 넘기는 버튼 css */
.main-page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main-page-number {
    display: flex;
    gap: 20px;
}

.main-page-next {
    display: flex;
    align-items: center;
    gap: 5px;
}

.next-btn {
    font-size: 2.0rem;
}

/* 팝업 레이아웃 css */

.popup-container {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.popup-inner-container {
    text-align: center;
}

.popup-info {
    width: 700px;
}

.popup-inner {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #d1d8dd;
    border-radius: 10px;
}

.blog-title {
    display: flex;
    margin-bottom: 10px;
}

.blog-title-name {
    font-weight: 600;
    padding: 5px;
    display: flex;
    flex: 0.2;
}

.blog-title-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 0.8;
}

.blog-title-input span {
    font-size: 0.7rem;
    color: #a6a6a6;
}

.blog-input {
    padding: 10px;
    border: 2px solid #a6a6a6;
    border-radius: 4px;
}

.blog-title-input input::placeholder {
    font-size: 1.2rem;
}

.popup-btn {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.popup-btn button {
    width: 170px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.2rem;
}

.popup-cancle {
    background-color: #f2f2f2;
    color: #8a8a89;
}

.popup-okey {
    background-color: #07beb8;
    color: #fffffd;
}

/* 배경 이미지 변경 input 파일  css*/
.title-file-input {
    gap: 10px;
}

.bg-select-btn {
    display: none;
}

.bg-select-label {
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    vertical-align: middle;
    background-color: #07beb8;
    cursor: pointer;

}

.file-input {
    padding: 5px 20px;
    vertical-align: middle;
    color: black;
    background-color: #d9d9d9;
    border: 2px solid #a6a6a6;
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 10px;
}

.title-file-div {
    display: flex;
    gap: 10px;
    flex: 1;
}

/* side bar 팝업 */
.side-bar-layout {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.side-bar-inner {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #d1d8dd;
    border-radius: 10px;
}

.side-category-add {
    padding-bottom: 15px;
}

.side-category-add button {
    padding: 5px;
    border: none;
    background: unset;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.9rem;
    border: 2px solid black;
}

.side-category-border {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 30px 20px;
    border: 2px solid #a6a6a6;
    border-radius: 3px;
    height: 500px;
    overflow-y: auto;
}

.side-category-border input {
    padding: 2px;
    border: 1px solid #a6a6a6;
}

.side-category-list {
    display: flex;
    gap: 10px;
    align-items: center;
}

.side-bar-notice {
    font-size: 0.8rem;
    color: #a6a6a6;
    padding: 10px 10px 20px 10px;
}

.side-bar-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.side-bar-btn button {
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.2rem;
}

.side-cancle {
    background-color: #f2f2f2;
    color: #8a8a89;
}

.side-okey {
    background-color: #07beb8;
    color: #fffffd;
}

.delete-category {
    cursor: pointer;
}